<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1711},{488,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,136}}</string>
                <key>sourceSize</key>
                <string>{488,136}</string>
            </dict>
            <key>bg-y.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1221},{488,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,136}}</string>
                <key>sourceSize</key>
                <string>{488,136}</string>
            </dict>
            <key>btn-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,328},{234,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,61}}</string>
                <key>sourceSize</key>
                <string>{234,61}</string>
            </dict>
            <key>btn-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,264},{234,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,62}}</string>
                <key>sourceSize</key>
                <string>{234,62}</string>
            </dict>
            <key>btn-an-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,391},{174,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,50}}</string>
                <key>sourceSize</key>
                <string>{174,50}</string>
            </dict>
            <key>btn-an-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1025},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{173,50}</string>
            </dict>
            <key>btn-shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,434},{82,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,202}}</string>
                <key>sourceSize</key>
                <string>{82,202}</string>
            </dict>
            <key>btn-yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,668},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bx-ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1896},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>bx-can.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1967},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>bx-ing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1896},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>daoju-kuang-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1628},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>daoju-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1138},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fanye.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1826},{57,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,85}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>instr.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1368},{118,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,82}}</string>
                <key>sourceSize</key>
                <string>{118,82}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,567},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>kapai-f.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1540},{86,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,110}}</string>
                <key>sourceSize</key>
                <string>{86,110}</string>
            </dict>
            <key>kapai-z.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1452},{86,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,110}}</string>
                <key>sourceSize</key>
                <string>{86,110}</string>
            </dict>
            <key>labelBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1338},{354,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,132}}</string>
                <key>sourceSize</key>
                <string>{354,132}</string>
            </dict>
            <key>moji.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{250,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,180}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>mubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>state-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1077},{142,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,162}}</string>
                <key>sourceSize</key>
                <string>{142,162}</string>
            </dict>
            <key>text-moji-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1728},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>text-moji-bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,604},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>title-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,184},{238,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,78}}</string>
                <key>sourceSize</key>
                <string>{238,78}</string>
            </dict>
            <key>topBtn2-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,599},{201,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,79}}</string>
                <key>sourceSize</key>
                <string>{201,79}</string>
            </dict>
            <key>topBtn2-y.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,518},{201,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,79}}</string>
                <key>sourceSize</key>
                <string>{201,79}</string>
            </dict>
            <key>touxiang-an.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1238},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wenzikuang-an.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{556,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,390}}</string>
                <key>sourceSize</key>
                <string>{556,390}</string>
            </dict>
            <key>xiala-an.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,264},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>xiantiao-an.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,732},{404,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,66}}</string>
                <key>sourceSize</key>
                <string>{404,66}</string>
            </dict>
            <key>xiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,391},{214,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,41}}</string>
                <key>sourceSize</key>
                <string>{214,41}</string>
            </dict>
            <key>xiantioa-shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1728},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>zongmen-huizhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,830},{194,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,193}}</string>
                <key>sourceSize</key>
                <string>{194,193}</string>
            </dict>
            <key>zzxx-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,680},{198,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,148}}</string>
                <key>sourceSize</key>
                <string>{198,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>global-2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be1f72fa01e5f88e1012c68326d0ead$</string>
            <key>textureFileName</key>
            <string>global-2.png</string>
        </dict>
    </dict>
</plist>
