<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map-1-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{4514,754},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-1-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{7186,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-10-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{5850,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-10-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{4514,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-11-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{3762,2674},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-11-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{3762,1338},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-2-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{3762,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-2-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{3010,2674},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-3-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{3010,1338},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-3-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{3010,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-4-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,2674},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-4-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,1338},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-5-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-5-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2674},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-6-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1338},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-6-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-7-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2674},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-7-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1338},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-8-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-8-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2674},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-9-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>map-9-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maps.png</string>
            <key>size</key>
            <string>{8192,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc5e45dfc04564a32da1765b7c540b23$</string>
            <key>textureFileName</key>
            <string>maps.png</string>
        </dict>
    </dict>
</plist>
