<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bzmcs-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,72},{700,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,68}}</string>
                <key>sourceSize</key>
                <string>{700,68}</string>
            </dict>
            <key>cs-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,798},{114,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>cs-input-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,142},{1024,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,586}}</string>
                <key>sourceSize</key>
                <string>{1024,586}</string>
            </dict>
            <key>fangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,926},{297,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,296}}</string>
                <key>sourceSize</key>
                <string>{297,296}</string>
            </dict>
            <key>guishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,628},{297,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,296}}</string>
                <key>sourceSize</key>
                <string>{297,296}</string>
            </dict>
            <key>gzmcs-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{700,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,68}}</string>
                <key>sourceSize</key>
                <string>{700,68}</string>
            </dict>
            <key>label-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,914},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,48}}</string>
                <key>sourceSize</key>
                <string>{154,48}</string>
            </dict>
            <key>left-btn-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,86},{180,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,242}}</string>
                <key>sourceSize</key>
                <string>{180,242}</string>
            </dict>
            <key>left-btn-child.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,914},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>left-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,616},{180,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{180,66}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>left-y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,2},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>menren-pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1138,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,612}}</string>
                <key>sourceSize</key>
                <string>{1138,612}</string>
            </dict>
            <key>next-page.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,240},{57,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,85}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>pop-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1786},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>right-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{1024,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,482}}</string>
                <key>sourceSize</key>
                <string>{1024,482}</string>
            </dict>
            <key>right-main-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1786},{436,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,166}}</string>
                <key>sourceSize</key>
                <string>{436,166}</string>
            </dict>
            <key>shangmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,330},{297,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,296}}</string>
                <key>sourceSize</key>
                <string>{297,296}</string>
            </dict>
            <key>sm-pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{538,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,560}}</string>
                <key>sourceSize</key>
                <string>{538,560}</string>
            </dict>
            <key>spjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,142},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangjie.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10d72accc0042720e9a38ca61934f4f9$</string>
            <key>textureFileName</key>
            <string>shangjie.png</string>
        </dict>
    </dict>
</plist>
