<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,678},{119,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,122}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{666,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,452}}</string>
                <key>sourceSize</key>
                <string>{666,452}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,842},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>btn_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,864},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>btn_sigint.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,864},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>btn_team.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>central_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,276},{14,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{14,14}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>enemy_bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{234,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,328}}</string>
                <key>sourceSize</key>
                <string>{234,328}</string>
            </dict>
            <key>enemy_name_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1607},{173,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,73}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>event.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,122},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{40,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>goods_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1000},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,920},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>injured.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,456},{568,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,384}}</string>
                <key>sourceSize</key>
                <string>{568,384}</string>
            </dict>
            <key>l_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1927},{101,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,104}</string>
            </dict>
            <key>l_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1927},{104,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,101}}</string>
                <key>sourceSize</key>
                <string>{104,101}</string>
            </dict>
            <key>l_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,950},{104,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,101}}</string>
                <key>sourceSize</key>
                <string>{104,101}</string>
            </dict>
            <key>l_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1927},{101,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,104}</string>
            </dict>
            <key>material.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,842},{452,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{452,156}}</string>
                <key>sourceSize</key>
                <string>{460,162}</string>
            </dict>
            <key>materials.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,82},{38,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mini_map_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1707},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>optBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1707},{286,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,58}}</string>
                <key>sourceSize</key>
                <string>{286,58}</string>
            </dict>
            <key>orientate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,192},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{30,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>personal_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,456},{220,122}}</string>
                <key>offset</key>
                <string>{-406,166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,148},{220,122}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,158},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{38,32}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>pull_down_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,224},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>role_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,276},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{16,14}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>route_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1399},{206,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,76}}</string>
                <key>sourceSize</key>
                <string>{206,76}</string>
            </dict>
            <key>snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,799},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>sword 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>textDialogBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1399},{306,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,184}}</string>
                <key>sourceSize</key>
                <string>{306,184}</string>
            </dict>
            <key>timeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{210,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,66}}</string>
                <key>sourceSize</key>
                <string>{210,66}</string>
            </dict>
            <key>title_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1707},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>walk_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>walk_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1334,108}}</string>
                <key>offset</key>
                <string>{0,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,108}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bbbe2a5469f21fba4812ce116ff7dcd$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
