<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>automactc-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2632,1822},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>automactc-o.png</key>
            <dict>
                <key>frame</key>
                <string>{{2888,1812},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>board-grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{123,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,89}}</string>
                <key>sourceSize</key>
                <string>{123,89}</string>
            </dict>
            <key>board-left-bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,1338},{614,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,406}}</string>
                <key>sourceSize</key>
                <string>{614,406}</string>
            </dict>
            <key>board-left-hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1338},{614,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,406}}</string>
                <key>sourceSize</key>
                <string>{614,406}</string>
            </dict>
            <key>board-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1338},{614,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,406}}</string>
                <key>sourceSize</key>
                <string>{614,406}</string>
            </dict>
            <key>board-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1338},{614,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,406}}</string>
                <key>sourceSize</key>
                <string>{614,406}</string>
            </dict>
            <key>border-right-bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1338},{614,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,406}}</string>
                <key>sourceSize</key>
                <string>{614,406}</string>
            </dict>
            <key>border-right-hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{614,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,406}}</string>
                <key>sourceSize</key>
                <string>{614,406}</string>
            </dict>
            <key>bottom-bg-bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2664,2},{1334,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,176}}</string>
                <key>sourceSize</key>
                <string>{1334,176}</string>
            </dict>
            <key>bottom-bg-hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2486,2},{1334,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,176}}</string>
                <key>sourceSize</key>
                <string>{1334,176}</string>
            </dict>
            <key>buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1954},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1954},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>countdown-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2632,1338},{178,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,171}}</string>
                <key>sourceSize</key>
                <string>{178,171}</string>
            </dict>
            <key>dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,2},{1334,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,226}}</string>
                <key>sourceSize</key>
                <string>{1334,226}</string>
            </dict>
            <key>dizi-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2632,1682},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>fight-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>fw-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1954},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fw-y.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1954},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>jinengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2450,1338},{592,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,180}}</string>
                <key>sourceSize</key>
                <string>{592,180}</string>
            </dict>
            <key>name-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1954},{127,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,81}}</string>
                <key>sourceSize</key>
                <string>{127,81}</string>
            </dict>
            <key>pro-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1954},{80,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,19}}</string>
                <key>sourceSize</key>
                <string>{80,19}</string>
            </dict>
            <key>pro-hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2037},{58,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,8}}</string>
                <key>sourceSize</key>
                <string>{58,8}</string>
            </dict>
            <key>pro-icon-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1954},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pro-mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2037},{58,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,8}}</string>
                <key>sourceSize</key>
                <string>{58,8}</string>
            </dict>
            <key>road-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2019},{369,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,24}}</string>
                <key>sourceSize</key>
                <string>{369,24}</string>
            </dict>
            <key>round-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1954},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>skills-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2776,1518},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skills-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2772,1682},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skills-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2758,1822},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>state-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2632,1518},{142,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,162}}</string>
                <key>sourceSize</key>
                <string>{142,162}</string>
            </dict>
            <key>text-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1999},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>text-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1998},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>text-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2001},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>text-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1954},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>text-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1954},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>text-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1954},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>text-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1954},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>text-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1954},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>text-bg-bai-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1954},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>text-bg-bai-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1954},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>text-bg-hei-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1954},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>text-bg-hei-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1954},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>top-bg-bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>top-bg-hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_img.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b093b28be6ec7f4ea567dea75c94c81d$</string>
            <key>textureFileName</key>
            <string>fight_img.png</string>
        </dict>
    </dict>
</plist>
