<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>automactc-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1144},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>automactc-o.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1267},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>board-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,410},{614,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,406}}</string>
                <key>sourceSize</key>
                <string>{614,406}</string>
            </dict>
            <key>board-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{614,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,406}}</string>
                <key>sourceSize</key>
                <string>{614,406}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,694},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>countdown-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1000},{334,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,313}}</string>
                <key>sourceSize</key>
                <string>{334,313}</string>
            </dict>
            <key>dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1334,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,226}}</string>
                <key>sourceSize</key>
                <string>{1334,226}</string>
            </dict>
            <key>dizi-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1000},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>fight-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>fight-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{1334,108}}</string>
                <key>offset</key>
                <string>{0,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,108}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>fw-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,614},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fw-y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,534},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>jinengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,818},{592,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,180}}</string>
                <key>sourceSize</key>
                <string>{592,180}</string>
            </dict>
            <key>name-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,798},{111,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{111,55}}</string>
                <key>sourceSize</key>
                <string>{127,81}</string>
            </dict>
            <key>pro-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,513},{80,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,19}}</string>
                <key>sourceSize</key>
                <string>{80,19}</string>
            </dict>
            <key>pro-hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,573},{58,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,8}}</string>
                <key>sourceSize</key>
                <string>{58,8}</string>
            </dict>
            <key>pro-icon-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,735},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pro-mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2036,513},{58,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,8}}</string>
                <key>sourceSize</key>
                <string>{58,8}</string>
            </dict>
            <key>road-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,694},{369,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,24}}</string>
                <key>sourceSize</key>
                <string>{369,24}</string>
            </dict>
            <key>role-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1140},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>round-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,284},{227,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,89}}</string>
                <key>sourceSize</key>
                <string>{227,89}</string>
            </dict>
            <key>skills-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skills-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skills-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>state-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1000},{142,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,162}}</string>
                <key>sourceSize</key>
                <string>{142,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_img.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc79be52d0d2bfc0a3413de2f3d4af0e$</string>
            <key>textureFileName</key>
            <string>fight_img.png</string>
        </dict>
    </dict>
</plist>
